<h1>Settings</h1><br>

<% semantic_form_for session[:settings], :url => {:action => action_name} do |f| %>
  <% f.inputs do %>
    <%= f.input :mode, :as => :select, :collection => MODES, :include_blank => false, :hint => 'Which mode do we apply?', :required => false %>
    <%= f.input :secret, :hint => "The password to be cracked. Currently allowed characters: <br/><tt>#{session[:settings].character_space_short}</tt>", :required => false %>
    <%= f.input :max, :label => 'Length', :as => :select, :collection => Settings.maxes, :include_blank => false, :hint => "The number of characters in the password that we will specifically assume. <br/>Current realm: #{number_with_delimiter @realm.to_i}", :required => false %>
    <%= f.input :assumed, :label => 'Respond', :hint => "After how many tried password should the client send a response?<br/>The current password realm indicates that we need #{number_with_delimiter((@realm.to_i / session[:settings].assumed).to_positive_i)} clients.", :required => false %>
    <%= f.input :mix, :as => :select, :collection => Settings.mixes, :include_blank => false, :hint => "Should we use a randomly sorted character space for brute force? This is the current order: <br/><tt>#{session[:settings].characters.join(' ')}</tt>" , :required => false %>
  <% end %>
  <%#= f.buttons %>
  <%# Evil hack to put in an extra button. %>
  <fieldset class="buttons"><ol><li class="commit">
    <input class="update" id="settings_submit" name="commit" type="submit" value="Save Settings" />
  </form>
  </li></ol>
  <div style="float:right; margin-right:20%;"><%= button_to (solved? ? 'Begin challenge' : 'Lock current challenge'), :toggle => true %></div>
  </fieldset>
  
<% end %>
