<div style="float:right; margin-right: 10px;"><%= link_to 'Show statistics &raquo;', :action => 'statistics' %></div>
<div style="float:right; margin-right: 30px;"><%= link_to_function 'Run JS Unit Test &raquo;', 'test()' %></div>
<h1>Settings</h1><br>

<% semantic_form_for session[:settings], :url => {:action => action_name} do |f| %>
  <% f.inputs do %>
    <%= f.input :mode, :as => :select, :collection => MODES, :include_blank => false, :hint => 'This influences the scalability of our application on the server\'s side.', :required => false %>
    <%= f.input :character_space, :label => 'Chars', :as => :select, :collection => CHARACTER_SPACES, :include_blank => false, :hint => 'Which characters do we allow for the password?', :required => false %>
    <%= f.input :secret, :hint => "The password to be cracked. Currently allowed characters: <br/><tt>#{session[:settings].character_space_short}</tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<b>OR</b> a SHA-256 hash value) #{"<br/>Now: <tt>#{session[:settings].sha}</tt>" if session[:settings].secret != session[:settings].sha}", :required => false %>
    <%= f.input :max, :label => 'Length', :as => :select, :collection => Settings.maxes, :include_blank => false, :hint => "The number of characters in the password that we will specifically assume. <br/>Current realm: #{number_with_delimiter @realm.to_i}", :required => false %>
    <%= f.input :assumed, :label => 'Respond', :hint => "After how many tried password should the client send a response?<br/>The current password realm indicates that we need #{number_with_delimiter((@realm.to_i / session[:settings].assumed).to_positive_i)} clients.", :required => false %>
    <%= f.input :mix, :as => :select, :collection => Settings.mixes, :include_blank => false, :hint => "Should we use a randomly sorted character space for brute force? This is the current order: <br/><tt>#{session[:settings].characters.to_a.join(' ')}</tt>" , :required => false %>
  <% end %>
  <div style="float:right; margin-right:20%;"><input type="button" id="reset_settings" value="Reset" /></div>
  <div style="float:right; margin-right:8px;"><input type="button" id="toggle_solved" value="Loading..." disabled="disabled" /></div>
  <%= f.buttons %>
<% end %>

<% toggle_function = { :action => 'toggle_status' } %>
<%= javascript_tag remote_function :url => toggle_function %>
<%= periodically_call_remote :url => toggle_function, :frequency => 8 %>
