<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>s h a c k e r</title>
  <%= stylesheet_link_tag 'reset-min', 'application', 'formtastic', 'formtastic_changes', :cache => 'shacker' %>
  <%= javascript_include_tag 'prototype', 'effects', 'lowpro', 'helper', 'sha256', 'algorithm', :cache => 'shacker' %>
  <%= javascript_include_tag 'behaviors' %>
  <%= javascript_include_tag 'test_helper' -%>
</head>
<body style="margin:0;">

  <div id="busy" style="display:none;"><%= image_tag 'loading.gif'%></div>
  <div style="float:right; margin:30px;"><%= link_to 'Settings panel &raquo;', :action => 'settings' %></div>

  <%= yield %>
  
</body>
</html>